<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>khangndn.filters.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SearchAccountController</servlet-name>
        <servlet-class>khangndn.controllers.SearchAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainAccountController</servlet-name>
        <servlet-class>khangndn.controllers.MainAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>khangndn.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertAccountController</servlet-name>
        <servlet-class>khangndn.controllers.InsertAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountController</servlet-name>
        <servlet-class>khangndn.controllers.DeleteAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccountController</servlet-name>
        <servlet-class>khangndn.controllers.EditAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountController</servlet-name>
        <servlet-class>khangndn.controllers.UpdateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainTourController</servlet-name>
        <servlet-class>khangndn.controllers.MainTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTourController</servlet-name>
        <servlet-class>khangndn.controllers.SearchTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTourController</servlet-name>
        <servlet-class>khangndn.controllers.DeleteTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTourCategoryController</servlet-name>
        <servlet-class>khangndn.controllers.InsertTourCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTourCategoryController</servlet-name>
        <servlet-class>khangndn.controllers.EditTourCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTourCategoryController</servlet-name>
        <servlet-class>khangndn.controllers.UpdateTourCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTourController</servlet-name>
        <servlet-class>khangndn.controllers.ViewTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainTourInfoController</servlet-name>
        <servlet-class>khangndn.controllers.MainTourInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteInfoController</servlet-name>
        <servlet-class>khangndn.controllers.DeleteInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertInfoController</servlet-name>
        <servlet-class>khangndn.controllers.InsertInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInfoController</servlet-name>
        <servlet-class>khangndn.controllers.UpdateInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditInfoController</servlet-name>
        <servlet-class>khangndn.controllers.EditInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainCartController</servlet-name>
        <servlet-class>khangndn.controllers.MainCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyController</servlet-name>
        <servlet-class>khangndn.controllers.BuyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>khangndn.controllers.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartController</servlet-name>
        <servlet-class>khangndn.controllers.RemoveCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookTourController</servlet-name>
        <servlet-class>khangndn.controllers.BookTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBookingTourController</servlet-name>
        <servlet-class>khangndn.controllers.ViewBookingTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelCartController</servlet-name>
        <servlet-class>khangndn.controllers.CancelCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCartController</servlet-name>
        <servlet-class>khangndn.controllers.SearchCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusController</servlet-name>
        <servlet-class>khangndn.controllers.UpdateStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FirstController</servlet-name>
        <servlet-class>khangndn.controllers.FirstController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>khangndn.controllers.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProfileController</servlet-name>
        <servlet-class>khangndn.controllers.SearchProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileController</servlet-name>
        <servlet-class>khangndn.controllers.UpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>khangndn.controllers.ChangePasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchAccountController</servlet-name>
        <url-pattern>/SearchAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainAccountController</servlet-name>
        <url-pattern>/MainAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertAccountController</servlet-name>
        <url-pattern>/InsertAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountController</servlet-name>
        <url-pattern>/DeleteAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccountController</servlet-name>
        <url-pattern>/EditAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountController</servlet-name>
        <url-pattern>/UpdateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainTourController</servlet-name>
        <url-pattern>/MainTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTourController</servlet-name>
        <url-pattern>/SearchTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTourController</servlet-name>
        <url-pattern>/DeleteTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTourCategoryController</servlet-name>
        <url-pattern>/InsertTourCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTourCategoryController</servlet-name>
        <url-pattern>/EditTourCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTourCategoryController</servlet-name>
        <url-pattern>/UpdateTourCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTourController</servlet-name>
        <url-pattern>/ViewTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainTourInfoController</servlet-name>
        <url-pattern>/MainTourInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteInfoController</servlet-name>
        <url-pattern>/DeleteInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertInfoController</servlet-name>
        <url-pattern>/InsertInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInfoController</servlet-name>
        <url-pattern>/UpdateInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditInfoController</servlet-name>
        <url-pattern>/EditInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainCartController</servlet-name>
        <url-pattern>/MainCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyController</servlet-name>
        <url-pattern>/BuyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/UpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartController</servlet-name>
        <url-pattern>/RemoveCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookTourController</servlet-name>
        <url-pattern>/BookTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBookingTourController</servlet-name>
        <url-pattern>/ViewBookingTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelCartController</servlet-name>
        <url-pattern>/CancelCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCartController</servlet-name>
        <url-pattern>/SearchCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusController</servlet-name>
        <url-pattern>/UpdateStatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirstController</servlet-name>
        <url-pattern>/FirstController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProfileController</servlet-name>
        <url-pattern>/SearchProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileController</servlet-name>
        <url-pattern>/UpdateProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePasswordController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>FirstController</welcome-file>
    </welcome-file-list>
</web-app>
